<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
  	point = "org.eclipse.ui.preferencePages">
       <page id="com.frontendart.resqp.prefs.Preferences"
	    class="com.frontendart.resqp.prefs.Preferences"
            name="ResourceQP">
       </page>
   </extension>

</plugin>
